@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    cursor: crosshair;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: grey;
}

main {
    width: 100%;
    height: 70vh;
    background-image: url('../img/midday_2.png');
    position: absolute;
    z-index: -1;
}

#drawPanel {
    width: 100%;
    height: 70vh;
}

#gamePanel {
    width: 100%;
    height: 70vh;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
}

#phanphan_head {
    position: fixed;
    display: inline-block;
    bottom: 0;
    left: calc(50% - 200px);
    z-index: 4;
    width: 400px;
}

#phanphan_trump {
    position: fixed;
    display: inline-block;
    bottom: 0;
    height: 300px;
    left: calc(50% - 40px);
}

.bang {
    background-image: url("../img/splash.png");
    background-size: contain;
    width: 100px;
    height: 80px;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    position: absolute;
}

.score {
    width: 40px;
}

.title {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
}